@import '~@csstools/normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-size: 16px;
}

body[data-theme='light'] {
    --color-text: hsl(200, 15%, 8%);
    --color-bg: hsl(0, 0%, 98%);
    --color-ui-base: hsl(0, 0%, 100%);
}

body[data-theme='dark'] {
    --color-text: hsl(0, 0%, 100%);
    --color-bg: hsl(207, 26%, 17%);
    --color-ui-base: hsl(209, 23%, 22%);
}
